/* General */
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
a{
    color: var(--link-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li a{
    font-weight: var(--heading-w-mn);
}
button{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: var(--heading-w-mn);
}

/* Header */
/*
                ****************************************************************
                                        Heading
                **************************************************************** 
*/
header{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--header-bg);
    align-items: center;
    height: var(--header-height);
}
:is(.header-logo) :is(a,a span){
    font-size: var(--heading-s-sm);
    color:var(--major-link-color);
    font-weight: var(--heading-w-mn);
    display: inline;
}
/*
                ****************************************************************
                                        Nav
                **************************************************************** 
*/
.nav-content{
    display: flex;
    gap: 10px;
    height: 100%;
}
.nav-content ul{
    list-style: none;
    display: flex ;
    align-items: center;
    
}
.nav-content ul li a{
    color: var(--major-link-color);
    font-weight: var(--text-w-lg);
    font-size: var(--text-s-sm);
    height: 20px;
    padding: 3dvw 20px;
}
li .focus-nav{
    
    cursor: default;
    border-bottom: 2px solid var(--secondary-color);
}
:is(.nav-content a:not(.focus-nav)):is(:hover,:focus){
    color: var(--hover-major-link-color);
    
    transform: scale(1.2);
}
.nav-shade{
    display: none;
}
/*
                ****************************************************************
                                       Menu Icon
                **************************************************************** 
*/
.menu{
    display: none;
}
.menu svg{
    width: 30px;
    fill: var(--secondary-color);
}

/* Main */
main{
    margin-top: var(--header-height);
    min-height: 100vh;
}
/*
                ****************************************************************
                                        Leading Content
                **************************************************************** 
*/
.leading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    
}
.genres{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.leading-content img {
    height: 100%;
    width: 100vw;
    border-radius: 20px;
}
.leading-content .leading-text{
    position: absolute;
    left:0vw;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: grid;
    place-content: center start;
    background: linear-gradient(to right,#000, #00000065);
    color: #fff;

}
.search{
    display: flex;

}
:is(.search-inp):is(input, input:focus){
    width: 50vw;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    font-size: .6em;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    transform: scale(1);
    background-color: var(--primary-color);
    color: #fff;
}
.search-btn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: .4em 1.7em;
    border-radius: 0 20px 20px 0;
}

.genre-heading{
    
    font-size: var(--heading-s-sm);
}
.leading-text div{
    font-size: var(--text-s-mn);

}


/*
                ****************************************************************
                                        Cards
                **************************************************************** 
*/
.cards{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--bg-color);
    scrollbar-gutter: stable both-edges;    
    gap: 25px;
    padding: 20px;
    counter-reset: card;
    width: 100%;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 180px;
    height: 270px;
    border-radius: 20px;
}
.card div{
    --text-color:#fff;
    color: var(--text-color);

}
.card-title::before{
    counter-increment: card;
    content: counter(card) ". ";
    top: 100%;
    
}
.card-info{
    text-align: center;

    display: flex;
    opacity: 0;
    background-color: var(--faded-dark);
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: var(--text-w-lg);
}
.card-info svg{
    width: 40px;
    fill: var(--text-color);
}
.card-info svg:hover{
    fill: var(--secondary-color);
    cursor: pointer;
    transition: 2s;
}
.card-info svg:not(:hover){
    transition: 2s;
}
.card:hover>.card-info{
    opacity: 100;
    transition: 1s;
}
.card:not(:hover)>.card-info{
    transition: 2s;
}
/* Footer */
footer{
    max-height: 100vh;
}
/*
                ****************************************************************
                                        Footer Top
                **************************************************************** 
*/
.footer-top{
    height: 90%;
    padding: 20px;
    background-color: var(--footer-top-bg);
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}
/*
                ****************************************************************
                                        Footer Subscriptions
                **************************************************************** 
*/
.footer-subscription{
    display: grid;
    place-content:  center start;
}
.socials-icons svg{
    width: 2em;
    fill: var(--text-color);
}
.social-icons{
    margin-left: 20px;

}
.inp-sub{
    display: flex;
    flex-wrap: nowrap;
}
.inp-btns{
    display: flex;
    flex-wrap: wrap;
}
.socials-form form{
    display: flex;
    flex-flow: column wrap;
}
.socials-form label{
display: block;
margin-left: 2px;
}
.socials-form input, .socials-form input:focus{
    padding: .4em .7em;
    width: 30em;
    font-size: .8em;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    transform: scale(1);
}
@media not screen and (max-width:610px){
    
    
}
.socials-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: .4em 1.7em;
    border-radius:20px;
}

.sub-btn{
    border-radius: 0 20px 20px 0;
    margin-right: 10px;
}
/*
                ****************************************************************
                                        Footer Legals
                **************************************************************** 
*/
.footer-legals{
    display: grid;
    place-content: center;
    padding-top: 20px;
    gap: 1em;
}
.footer-legals ul{
    display: flex;
}
:is(.footer-legals ul) :is(li , a){
    color: var(--secondary-color);
}
.footer-legals ul li:not(:nth-child(1)){    
    
    border-left: 1.5px solid var(--secondary-color);
    padding-left:1em;
    margin-left: 1em;
}
/*
                ****************************************************************
                                        Footer navs
                **************************************************************** 
*/
.footer-navs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px 0;

}
.footer-nav{
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}
.footer-nav ul{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}
.footer-nav a{
    color: var(--major-link-color);
}
/*
                ****************************************************************
                                        Footer Bottom
                **************************************************************** 
*/
.footer-btm{
    height:10%;
    background-color: var(--footer-btm-bg);
    display: grid;
    place-content: center;
    padding: 20px 0;
}
/* Width 700px screens */
@media only screen and (max-width:610px){
    
    .header-nav{
        
        display: none;
        height: 100;
        width: 100vw;

    }
    .header-nav ul {
        display: flex;
        flex-flow: column;  
        list-style: none;
        justify-content: space-evenly ;
        padding:20px 0;
        height: 90%;
        align-items: center;
        
    
    }
    .menu{
        display: block;

    }
    .menu svg{
        cursor: pointer;
    }
    
    .header-nav:is(:hover/* ,:not(:hover) */,:focus-within,:has(+.menu:is(:focus,:active))){
        display: flex;
        position: absolute  ;
        z-index:200 ;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        justify-content: space-between;
    
    }   
    
    .nav-shade{
    
        background-color: var(--faded-dark);
        display: block;
        width: 70%;
    }
    .nav-content{
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;

        width:30%;
    }

    .header-nav:has(.nav-shade:active){
        display: none;
    }
    .mode{
        justify-content: center;
    }/*
                ****************************************************************
                                        Card Image
                **************************************************************** 
*/
.card img{
    width: 150px;
    height: 210px;
    border-radius: 20px;
}
    /*
                ****************************************************************
                                        Footer
                **************************************************************** 
*/

}
button div{
    color: var(--c-text-color);
}